.image{
  width: 55;
  height: 55;
  border-radius: 50%;
  border-width: 0.1;
  border-color: #979797;
}

.list{
  padding: 0 15;
}

.name {
  color: #646464;
}

.time {
  color: #979797;
  font-size: 13px;
  padding-top: 2px;
}

.content{
  border-width: 0 0 1 0;
  border-color: #f2f2f2;
  height: 70;
}

.btn-float{
  vertical-align: bottom;
  margin: 15;
  border-radius: 50%;
  height: 60;
  width: 60;
  color: white;
  background-color: #2d2a70;
  horizontal-align:right;
}