<GridLayout rows="auto,*">
  <GridLayout row="0" class="header" columns="*,50,50,50">
    <Label col="0" class="h3 p-15 t-white" text="KAI Chat" [nsRouterLink]="['/profile']"></Label>
    <Label col="1" class="fas h3 text-center t-white" text="&#xf0c0;"></Label>
    <Label col="2" class="fas h3 text-center t-white" (tap)="services.logout()" text="&#xf011;"></Label>
    <Label col="3" class="fas h3 text-center t-white" text="&#xf142;"></Label>
  </GridLayout>
  <StackLayout row="1">
    <Image [src]="image" class="image"></Image>
    <Label [text]="userData.username" class="h3 text-center"></Label>
    <Label [text]="userData.email" class="h4 text-center"></Label>
  </StackLayout>
</GridLayout>
